@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Lobster&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
}

body,
#root {
  min-height: 100vh;
  background: linear-gradient(to right, #aca8fe, #e7e7e7);
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #aca8fe, #e7e7e7);
  display: grid;
  place-items: center;
}

.game-blog {
  width: 90vw;
  height: 95vmin;
  background-color: rgb(1, 8, 55);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

@media (max-width: 1400px) {
  html {
    font-size: 59%;
  }
}

@media (max-width: 900px) {
  .container {
    display: block;
    min-height: 100vh;
    padding: 1rem;
  }

  .game-blog {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 2rem);
  }
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}
