.blogs-modal-image {
  width: 100%;
  aspect-ratio: 1980 / 1200;
  object-fit: cover;
  border-radius: 1px;
}

.blogs-modal-title {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
}

.blogs-post-content {
  font-size: 1.6rem;
  margin-top: 1rem;
  overflow-y: scroll;
  max-height: 20rem;
}

.blogs-post-content::-webkit-scrollbar {
  visibility: hidden;
}
