.news {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2rem;
}

.news-header {
  width: 100%;
  min-height: 7rem;
  background-color: rgb(80, 51, 249);
  color: rgb(255, 255, 255);
  border-radius: 1rem 1rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
  margin: 0;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.search-bar {
  position: relative;
}

.brand-logo {
  width: 5.5rem;
  height: auto;
  object-fit: contain;
}

.search-bar input {
  width: 25rem;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 3rem;
  padding: 0 4rem 0 2rem;
  transition: width 0.3s;
}

.search-bar input:focus {
  width: 35rem;
}

.search-bar input:focus::placeholder {
  color: transparent;
}

.search-bar button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
}

.news-content {
  display: flex;
  column-gap: 2rem;
  height: calc(100% - 12rem);
  padding: 0 2rem;
}

.navbar {
  width: 18rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.user {
  width: 100%;
  height: 20%;
  background-color: rgb(80, 51, 249);
  color: rgb(255, 255, 255);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.1rem;
  cursor: pointer;
}

.user Img {
  width: 7rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.user p {
  font-size: 1.5rem;
  font-weight: 500;
}

.categories {
  width: 100%;
  height: calc(80% - 2rem);
  background-color: rgb(80, 51, 249);
  color: rgb(255, 255, 255);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
  padding: 1rem 2rem 2rem;
}

.nav-heading {
  font-size: clamp(2rem, 2.6vw, 2.3rem);
  font-weight: 800;
  color: rgb(255, 255, 255);
  letter-spacing: 0.2rem;
  margin: 0 0 1rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.nav-links {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
}

.nav-link-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.nav-link i {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.news-section {
  width: clamp(30rem, 43cqi, 40%);
  height: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.headline {
  width: 100%;
  flex: 1;
  background-color: rgb(80, 51, 249);
  color: rgb(255, 255, 255);
  border-radius: 1rem;
  margin-bottom: 2rem;
  position: relative;
  transition: transform 0.2s ease-in-out;
  display: block;
}

.headline:hover {
  transform: scale(1.03);
}

.headline-title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 4rem 1rem 1rem;
  font-size: clamp(1.5rem, 1.8cqi, 3rem);
  letter-spacing: 0.1rem;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  border-radius: 0 0 1rem 1rem;
  transition:
    background-color 0.2s ease-in-out 0.2s,
    color 0.2s ease-in-out 0.2s,
    text-shadow 0.2s ease-in-out 0.2s;
}

.headline:hover .headline-title {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgb(0, 0, 0);
  text-shadow: none;
}

.headline:hover .bookmark {
  color: rgb(0, 0, 0);
}

.headline img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.bookmark {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out 0.2s;
}

.news-grid {
  width: 100%;
  flex: 1;
  background-color: rgb(80, 51, 249);
  color: rgb(255, 255, 255);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: 1.2rem;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.news-grid-item {
  width: 100%;
  height: 100%;
  min-height: 8rem;
  border-radius: rem;
  position: relative;
  display: block;
  color: rgb(255, 255, 255);
  transition: transform 0.2s ease-in-out;
}

.news-grid-item:hover {
  transform: scale(1.03);
}

.news-grid-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 1rem;
}

.news-grid-item h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 4rem 0.5rem 1rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  font-weight: 450;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  transition:
    background-color 0.2s ease-in-out 0.2s,
    color 0.2s ease-in-out 0.2s,
    text-shadow 0.2s ease-in-out 0.2s;
}

.news-grid-item:hover h3 {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgb(0, 0, 0);
  text-shadow: none;
}

.news-grid-item:hover .bookmark {
  color: rgb(0, 0, 0);
}

.my-blogs {
  width: clamp(20rem, 27cqi, 28%);
  height: 100%;
  background-color: rgb(80, 51, 249);
  color: rgb(255, 255, 255);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding-bottom: 2rem;
}

.my-blogs-heading {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 1.8rem 1.8rem 0.8rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.create-blog-btn {
  width: calc(100% - 6rem);
  height: 4.2rem;
  margin: 0 3rem;
  background: linear-gradient(to right, #aca8fe, #e7e7e7);
  border: none;
  border-radius: 1.2rem;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.create-blog-btn:hover {
  background: rgba(0, 0, 0, 0.65);
  color: rgb(255, 255, 255);
  font-weight: 650;
  transition:
    background 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.create-blog-btn:active {
  transform: translateY(0.2rem);
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding: 1.2rem;
  justify-content: space-between;
}

.blog-post {
  flex: 0 1 calc(50% - 0.6rem);
  aspect-ratio: 1980 / 1200;
  border-radius: 1rem;
  position: relative;
  display: block;
  color: rgb(255, 255, 255);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.blog-post:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.blog-post img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.blog-post h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 4rem 0.5rem 1rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  font-weight: 450;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  transition:
    background-color 0.2s ease-in-out 0.2s,
    color 0.2s ease-in-out 0.2s,
    text-shadow 0.2s ease-in-out 0.2s;
}

.blog-post:hover h3 {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgb(0, 0, 0);
  text-shadow: none;
}

.post-buttons {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.blog-post:hover .post-buttons {
  opacity: 1;
  visibility: visible;
}

.post-buttons button {
  background-color: transparent;
  border: none;
  font-size: 2.4rem;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.weather-calendar {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.news-footer {
  min-height: 5rem;
  background-color: rgb(80, 51, 249);
  color: rgb(255, 255, 255);
  border-radius: 0 0 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.news-footer p {
  font-size: 1.4rem;
  font-weight: 350;
}

.news-footer p span {
  font-size: 1.8rem;
  font-weight: 450;
}

@media (max-width: 1400px) {
  .nav-links {
    row-gap: 1rem;
  }

  .news-section {
    overflow-y: hidden;
  }

  .news-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow-y: scroll;
  }

  .news-grid::-webkit-scrollbar {
    visibility: hidden;
  }

  .blog-posts {
    overflow-y: scroll;
  }

  .blog-posts::-webkit-scrollbar {
    display: none;
  }

  .blog-post {
    flex: 0 1 calc(100% - 0.6rem);
  }
}

@media (max-width: 1024px) {
  .news-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (max-width: 900px) {
  .news {
    height: 100%;
    overflow-y: scroll;
  }

  .news::-webkit-scrollbar {
    display: none;
  }

  .news-content {
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 0;
    row-gap: 2rem;
  }

  .navbar {
    flex-direction: row;
    width: 100%;
    height: 18rem;
    justify-content: space-between;
  }

  .user {
    width: 30%;
    min-width: 12rem;
    height: 100%;
  }

  .logo {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
  }

  .categories {
    width: calc(70% - 1rem);
    height: 100%;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    padding: 1rem;
  }

  .nav-links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-link {
    margin-right: 2rem;
  }

  .news-section {
    width: 100%;
  }

  .news-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .my-blogs {
    width: 100%;
  }

  .blog-post {
    flex: 0 1 calc(50% - 0.6rem);
  }

  .weather-calendar {
    flex-direction: row;
    column-gap: 2rem;
  }
}

@media (max-width: 500px) {
  .news-header {
    padding: 0 2rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .search-bar input {
    width: 18rem;
  }
  .search-bar input:focus {
    width: 23rem;
  }
  .navbar {
    flex-direction: column;
    height: auto;
    margin-bottom: 2rem;
    row-gap: 1rem;
  }

  .user {
    width: 100%;
    min-height: 12rem;
  }

  .user p {
    display: none;
  }

  .categories {
    width: 100%;
    height: auto;
  }

  .nav-heading {
    display: none;
  }

  .news-grid {
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .weather-calendar {
    flex-direction: column;
  }

  .news-footer {
    flex-direction: column;
    min-height: 8rem;
    justify-content: center;
    row-gap: 1rem;
    margin-top: 2rem;
  }
}
